.features {
  text-align: center;
  padding: 80px;
  display: flex;
  justify-content: space-around;
  h3 {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: bold;
  }
  p {
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: lighter;
  }
  img {
    width: 100px;
  }
}
