.features h3 {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: bold;
}

.features p {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: lighter;
}

.features img {
  width: 100px;
}

.features {
  text-align: center;
  padding: 80px;
  display: flex;
  justify-content: space-around;
}
